
.form_wrapper {
    overflow: hidden;
}
.form_wrapper .heading h2{
    text-align: center;
    font-size: 2em;
}
.dept_contentwrap ul.email_form, .dept_content_1col ul.email_form, ul.email_form{
    margin: 0;
    padding: 0;
}
.email_form label{
    display: block;
    float: left;
    width: 35%;
}
.email_form input{
    display: block;
    float: left;
    width: 350px;
}
.email_form .help_text{
    font-weight:normal;
    font-style: italic;
    font-size: 90%;
}
.email_form input.small{
    width: 50px;
}
.email_form li.checkbox div.checkbox{
    float: right;
    overflow: hidden;
    width: 63%;
}
.email_form li.checkbox label.question {
    overflow: hidden;
    float: left;
    width: 35%;
}
.email_form li.checkbox div.option{
    overflow: hidden;
    width: 50%;
    float: left;
}

.email_form li {
    overflow: hidden;
    clear: left;
    list-style-type:none;
}
.email_form li.required label {
    font-weight: bold;
}
.validation_warning{
	display: block;
	color: red;
}
.warning {
    border: 1px solid red;
    background-color: pink;
    padding: 4px;
}
.email_form input {
    background: -moz-linear-gradient(center top , #F9F9F9, #FFFFFF) repeat scroll 0 0 transparent;
    border: 1px solid #999;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 2px #E8E8E8 inset;
    color: #000;
    width: 63%;
    padding: 2px 0;
    outline: none;
}
.email_form input[type="submit"] {
    margin-right: 323px;
    width: 200px;
    float: right; 
    border: 1px solid #ededed;
    color: #222;
    cursor:pointer;
}
.email_form .checkbox input {
    width: 7%;
    display: block;
    border: 0px;
    margin: 7px 2% 0 0;
    padding: 0px;
}
.email_form .checkbox label {
    width: 85%;
    border: 0px;
    margin: 5px 2% 0 0;
    padding: 0px;
}
.email_form textarea{
    height: 150px;
    width: 63%;
    border: 1px solid #999;
    border-radius: 3px 3px 3px 3px;
}
.email_form .time_input .datetime_option,
.email_form .date_input .datetime_option {
	width: 200px;
	overflow: hidden;
	float: left;
}
.email_form .time_input select,
.email_form .date_input select {
	width: 70px;
}
.email_form li {
    padding: 10px;
}
.email_form .single_checkbox label{
    margin: 0;
}
.email_form .single_checkbox input{
    width: auto;
    margin: 0;
}
.email_form li.checkbox .single_checkbox label.question{
    width: 35%;
    min-width: 195px;
}
.button {
    border: 1px solid #660033;
    background-color: #ededed;
    color: #222;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    cursor: pointer;
}

.submit_button{
    float: right;
    overflow: hidden;
    margin: 5px 3% 0 0;
    width: 7%;
    min-width: 52px;
}
div.clear {
    float: right;
    clear: none;
    margin:5px 10px 0 0;
    width: 7%;
    min-width: 52px;
}
div.clear input.clear{
    width: 100%;
}
#it_form .submit{
    float: right;
    padding-right: 25px;
}
#clear_it_form input, #it_form .submit input {
    padding: 2px 9px;
}
.thanks {
    font-weight: bold;
}