.payment p.error {
    color: red;
}
.payment_review {
    overflow: hidden;
    padding-bottom: 20px;
}
.payment_review h2 {
    text-align: center;
    font-size: 2em;
}
.payment_review table {
    width: 100%;
}
.payment_review table th{text-align: left;}
.payment_review table thead tr th, .payment_review table thead tr td{
    border-bottom: 1px solid #000;
}
.payment_review table tbody tr td{
    padding: 4px 0;
}
.payment_review table tfoot tr th, .payment_review tfoot tr td{
    border-top: 1px solid #000;
}

.payment .cart h2 {
    text-align: center;
}
.payment .cart table{
    width: 100%;
}
.payment .cart table tbody td label{
    font-size: 1px;
    text-indent: -999999px;
}
.payment .cart table tbody td input{
    width: 25px;
}
.payment .cart table tbody td input.submit{
    width: auto;
}
.payment .cart table th{
    text-align: left;
}