.weather_widget * { padding: 0px; margin: 0px; }
.weather_widget h3 { 
    display: none;
}
.weather_widget {
    width: 245px;
    border: 1px solid #999;
    padding: 10px;
    background-color: #efefef;
}
.weather_widget p {
    padding: 5px 0;
}
.weather_widget .location {
    font-style: italic;
    font-size: .8em;
}
.weather_widget .weather {
    height: 60px;
    background: transparent no-repeat top left;
    margin: 10px 0;
    padding-left: 65px;
}
.weather_widget .weather_string, .weather_widget .temperature {
    padding-top: 0px;
    font-size: 1.4em;
}
.weather_widget .temperature .celcius{
    font-size: .6em;
}
.weather_widget .updated { border-top: 1px solid #999; padding-top: 15px; padding-bottom: 0px;}

.weather_widget .credit, .weather_widget .updated { font-size: .8em}


.weather_widget.horizontal .updated {
    border: 0px;
    
}
.weather_widget.horizontal {
    width: auto;
    overflow: hidden;
}
.weather_widget.horizontal .weather {
    margin: 0px 0;
}

.weather_widget.horizontal footer {
    padding-top: 9px;
}
.weather_widget.horizontal .meta {
    padding-top: 9px;
}
.weather_widget.horizontal header .location{
    padding-top: 10px;
}
.weather_widget.horizontal header,
.weather_widget.horizontal .weather,
.weather_widget.horizontal .meta,
.weather_widget.horizontal footer
{ float: left; overflow: hidden; padding-right: 50px; text-align: left;}