<div class="directory_listing listing">

	{{#profiles}}
	<div class="directory_profile span4">
		<h3><a href='?ID={{ID}}'>{{LastName}}, {{FirstName}}</a></h3>

		<div class="faculty_photo">
			<img src="{{#Photo}}http://www.cas.umt.edu/facultydatabase/Files_Faculty_images/{{Photo}}{{/Photo}}{{^Photo}}default.png{{/Photo}}" alt="{{FirstName}} {{LastName}}"/>
		</div>
		{{#Title}}<p class='title'>{{Title}}</p>{{/Title}}
		{{#Phone}}<p class='item_title'>Phone: {{Phone}}</p>{{/Phone}}
		{{#OfficeLocation}}<p class='item_title'>Office: {{OfficeLocation}}</p>{{/OfficeLocation}}
		{{#Email}}<p><a href='mailto:{{Email}}'>{{Email}}</a></p>{{/Email}}
	</div>
	{{/profiles}}
</div>