<div class="directory_listing profile">
	<div class='back_to_directory'><a href='.'>Back To Directory</a></div>

	<div id="profile">
		<div class="row-fluid">
			<div class="span8">
				<h1>{{FirstName}} {{LastName}}</h1>

				<p class="title">{{Title}}</p>

				<div class="vitals">
					{{#show_school_info}}
					<div class="address">
						<h2>Address</h2>
						<ul>
							{{#school_info}}
							<li>{{.}}</li>
							{{/school_info}}
						</ul>
					</div>
					{{/show_school_info}}
					<div class="contact">
						<h2>Contact</h2>
						<ul>
							{{#OfficeLocation}}
							<li><strong>Office:</strong> {{OfficeLocation}}</li>
							{{/OfficeLocation}}
							{{#Phone}}
							<li><strong>Phone:</strong> {{Phone}}</li>
							{{/Phone}}
							{{#Fax}}
							<li><strong>Fax:</strong> {{Fax}}</li>
							{{/Fax}}
							{{#Email}}
							<li><strong>Email: </strong><a href="mailto:{{Email}}">{{Email}}</a></li>
							{{/Email}}
							{{#OfficeHours}}
							<li><strong>Office Hours: </strong>{{OfficeHours}}</li>
							{{/OfficeHours}}
							{{#PersonalURL}}
							<li><strong>Website: </strong><a href="{{PersonalURL}}">{{PersonalURL}}</a></li>
							{{/PersonalURL}}
							{{#CVURL}}
							<li><strong>Curriculum Vitae: </strong><a href="{{CVURL}}">View/Download CV</a></li>
							{{/CVURL}}
						</ul>
					</div>
				</div>
			</div>
			{{#Photo}}
			<div class="profileImageWrap span4">
				<img src="http://www.cas.umt.edu/facultydatabase/Files_Faculty_images/{{Photo}}" alt="{{FirstName}}  {{LastName}}" class="img-polaroid profileImage">
			</div>
			{{/Photo}}
		</div>


		{{#Summery}}
		<div class="profile_details">
			<h2>Personal Summary</h2>

			<p>{{{Summery}}}</p>
		</div>
		{{/Summery}}
		{{#Education}}
		<div class="profile_details">
			<h2>Education</h2>

			<p>{{{Education}}}</p>
		</div>
		{{/Education}}
		{{#Courses}}
		<div class="profile_details">
			<h2>Courses Taught</h2>

			<p>{{{Courses}}}</p>
		</div>
		{{/Courses}}
		{{#TeachingExperience}}
		<div class="profile_details">
			<h2>Teaching Experience</h2>

			<p>{{{TeachingExperience}}}</p>
		</div>
		{{/TeachingExperience}}
		{{#ResearchInterests}}
		<div class="profile_details">
			<h2>Research Interests</h2>

			<p>{{{ResearchInterests}}}</p>
		</div>
		{{/ResearchInterests}}
		{{#FieldOfStudy}}
		<div class="profile_details">
			<h2>Field of Study</h2>

			<p>{{{FieldOfStudy}}}</p>
		</div>
		{{/FieldOfStudy}}
		{{#Publications}}
		<div class="profile_details">
			<h2>Publications</h2>

			<p>{{{Publications}}}</p>
		</div>
		{{/Publications}}
		{{#Affiliations}}
		<div class="profile_details">
			<h2>Affiliations</h2>

			<p>{{{Affiliations}}}</p>
		</div>
		{{/Affiliations}}
		{{#SpecializedSkills}}
		<div class="profile_details">
			<h2>Specialized Skills</h2>

			<p>{{{SpecializedSkills}}}</p>
		</div>
		{{/SpecializedSkills}}
		{{#ProfessionalExperience}}
		<div class="profile_details">
			<h2>Professional Experience</h2>

			<p>{{{ProfessionalExperience}}}</p>
		</div>
		{{/ProfessionalExperience}}
		{{#InternationalExperience}}
		<div class="profile_details">
			<h2>International Experience</h2>

			<p>{{{InternationalExperience}}}</p>
		</div>
		{{/InternationalExperience}}
		{{#Honors}}
		<div class="profile_details">
			<h2>Honors / Awards</h2>

			<p>{{{Honors}}}</p></div>
		{{/Honors}}
		{{#Hobbies}}
		<div class="profile_details">
			<h2>Hobbies</h2>

			<p>{{{Hobbies}}}</p>
		</div>
		{{/Hobbies}}
		{{#SelectedPublications}}
		<div class="profile_details">
			<h2>Selected Publications</h2>

			<p>{{{SelectedPublications}}}</p>
		</div>
		{{/SelectedPublications}}

	</div>
</div>
</div>